@import "tailwindcss";
body {
  font-family: 'Inter', sans-serif;
}
.animated-gradient {
  min-height: 100vh;
  width: 100%;
  background: linear-gradient(
    -45deg,
    #94ffd1,
    #6bf5ff,
    #ffffff,
    #a5f3fc
  );
  background-size: 400% 400%;
  animation: gradientMove 10s ease infinite;
}
